@import "variables";

.card {
  position: relative;
  width: 300px;
  height: 150px;

  border-radius: 10px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 5px;

  cursor: pointer;

  transition: border-color .1s ease, background-color .05s ease;



  h1 {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 12px;
  }

  p {
    color: gray;
  }
}


.clickable {
  width: 100%;
  height: 100%;
  padding: 20px;

  border: $border-gray 1px solid;
  border-radius: inherit;

  &:hover {
    border-color: $theme-color;
  }

  &:active {
    background-color: rgba($theme-color, 0.05);
  }
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;

  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  font-size: 15px;
  font-weight: 700;

  background: none;

  &:hover {
    background-color: $hover-gray;
  }
}

.menu {
  position: absolute;
  top: 38px;
  right: -30px;
  z-index: 10;

  width: 60px;
  border-radius: 5px;

  background: #fff;
  box-shadow: 0 0 7px #e1e1e1;

  overflow: hidden;

  & > p {
    font-size: 13px;
    line-height: 30px;
    padding-inline: 10px;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}
