@import "src/variables";

.grid {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  //justify-content: center;

  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  //flex-wrap: wrap;

  gap: $grid-gap;

  width: 100%;
  padding-inline: $page-margin;
}

@media screen and (max-width: $responsive-breakpoint) {
  .grid {
    grid-template-columns: 1fr;
  }
}
