@import "src/variables";

.header {
  //background-color: $background-gray;
  height: 60px;
  border-bottom: $border-gray 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-inline: 100px;

  & > span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
    }

    h1 {
      color: $theme-color;
      font-size: 28px;
      font-weight: 700;
    }
  }
}

.toolBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


button.tool {
  width: 30px;
}
