@import "src/variables";

.header {
  //background-color: $background-gray;
  //background-color: #F2F2F5;
  height: 80px;
  //margin-top: 20px;
  //border-bottom: $line 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-inline: $page-margin;

  & > span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    img:nth-child(1) {
      width: 35px;
      height: 35px;
    }
    img:nth-child(2) {
      height: 26px;
      //width: 1000px;
    }

    h1 {
      color: $theme-color;
      font-size: 28px;
      font-weight: 700;
    }
  }
}

.toolBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


button.tool {
  width: 30px;
}
